{% extends 'base.html.twig' %}

{% block title %}Hello NuageDeMotController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row p-5" >
            <div class="card-header" > <strong>{{ document }}</strong> </div>
            <div class="card-body ">
                <h5 class="card-title"></h5>
                <p class="card-text d-flex">
                    {{ fileContent|raw }}
                </p>
            </div>
            <button type="button" class="btn btn-danger">Supprimer</button>

        </div>
    </div>
{% endblock %}
